.rating {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    min-width: 150px;
    max-width: 600px;
    justify-content: flex-end;
}

@media only screen and (max-width: 992px) {
    .rating {
        margin-top: 12px;
        min-height: 40px;
        justify-content: space-around;
    }

    ´
}

.rating label {
    display: flex;
    flex: 1;
    position: relative;
    cursor: pointer;
}

.rating label:after {
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    position: absolute;
    color: #777;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    content: 'star_border';
}

.rating input {
    display: none !important;
}

.rating > input:checked + label:after,
.rating > input:checked ~ label:after {
    content: "star";
    color: #FFD700;
}

.rating > input:hover + label:after,
.rating > input:hover ~ label:after {
    content: "star";
    color: #FFD700;
}

.support-input-mobile label {
    line-height: 1rem;
}

.issue-category-icon {
    flex-basis: 45px;
}

.issue-category-field {
    flex-grow: 1;
    margin: 0;
    max-height: 40px;
}

.issue-category-field * {
    margin: inherit;
    max-height: inherit;
}
